/* Gaya Global */
body.main-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .main-title {
    font-size: 2.5rem;
    color: #49260f;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .sub-title {
    font-size: 2.5rem;
    color: #ff6600;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  /* Bagian Gambar */
  .image-gallery {
    flex: 2;
    max-width: 30%;
  }
  
  .main-image {
    width: 10%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
  }
  
  .thumbnail {
    width: 70px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid transparent;
  }
  
  .thumbnail:hover {
    transform: scale(1.1);
    border-color: #ff6600;
  }
  
  /* Bagian Detail */
  .details {
    flex: 1;
    max-width: 35%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .destination-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .star-icon {
    color: #ffcc00;
    margin-right: 5px;
  }
  
  .rating-text {
    font-size: 1rem;
    color: #555;
  }
  
  .description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .favorite {
    text-align: right;
  }
  
  .favorite-icon {
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .favorite-icon:hover {
    color: red;
  }
  
  /* Tombol Order */
  .button-container {
    text-align: center;
    margin-top: 30px;
  }
  
  .order-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border-radius: 20px 0 0 0;
    transition: background-color 0.3s ease;
  }
  
  .order-button:hover {
    background-color: #cc5200;
  }

  .h2{
    text-align: center;
  }
