.travel-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.travel-image-section {
    flex: 1;
}

.travel-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.travel-content-section {
    flex: 1;
<<<<<<< HEAD
    background-color: #F86B29D4;
=======
    background-color: hsl(26, 93%, 50%);
>>>>>>> aee4e582ca4e1e71a2e4cf7964a00d324ab65ded
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.travel-title {
    font-size: 2.5rem;
    color: #ffff;
    font-weight: bold;
    margin-bottom: 1rem;
}

.travel-subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #dd6b20;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
}

.travel-description {
    font-size: 1rem;
    color: white;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.travel-book-now-btn {
    background-color: white;
    color: black;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
<<<<<<< HEAD
    
=======
>>>>>>> aee4e582ca4e1e71a2e4cf7964a00d324ab65ded
}

.travel-book-now-btn:hover {
    background-color: #c05621;
}

.travel-book-now-btn i {
    margin-left: 10px;
}
